# ------------------------
# Python
# ------------------------
__pycache__/
*/__pycache__
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg

# Logs
*.log

# SQLite DB (если используется локально)
db.sqlite3
db.sqlite3-journal

# Django stuff
*.pot
*.pyc
*.mo
*.log
local_settings.py
media/
staticfiles/

# Env vars
.env
.env.*

# ------------------------
# Docker
# ------------------------
# Ignore Docker build context artifacts
docker-compose.override.yml
docker-compose.dev.yml
Dockerfile.dev

# Docker volumes
data/
tmp/
*.pid

# ------------------------
# IDE / Editor
# ------------------------
# VS Code
.vscode/
.code/

# PyCharm
.idea/
*.iml

# Other editors
*.swp
*.swo

# ------------------------
# OS / Misc
# ------------------------
.DS_Store
*/.DS_Store
Thumbs.db
.initialized
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
nginx-prod.conf
nginx.conf2